AI_Remote_PM_Job_Agent.json
{
  "name": "AI Remote PM Job Agent v2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "cronExpression", "expression": "0 9 * * *" }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Daily Cron 9AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [100, 400]
    },

    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jobs-ingest",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook: Receive Jobs",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 200],
      "webhookId": "jobs-ingest-hook"
    },

    {
      "parameters": {
        "jsCode": "// === USER PROFILE / CV ===\n// Edit USER_CV below with your real CV text. The AI agent uses it to\n// match skills, score relevance, and identify gaps. Keep it concise (<2000 chars).\nconst USER_CV = `\nName: Your Name\nTarget Roles: Project Manager, Product Manager, Scrum Master, AI Project Manager, Program Manager, Technical Program Manager, Agile Project Manager\nExperience: 0-3 years (entry to mid level)\nSkills: Agile, Scrum, Jira, Confluence, Trello, Asana, Notion, stakeholder communication, sprint planning, roadmaps, requirements gathering, coordination, scheduling, delivery management, product thinking, basic SQL, Google Workspace, MS Office, AI tools (ChatGPT, n8n, Zapier).\nDomains: SaaS, AI, automation, fintech (open).\nCertifications (optional): CSM in progress, Google PM Certificate.\nPreferences: Remote only, entry-to-mid level, no senior/executive roles.\nLocation: Remote / Worldwide.\n`.trim();\n\nreturn [{ json: { user_profile: USER_CV } }];\n"
      },
      "id": "user-cv",
      "name": "User Profile (edit me)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [340, 400]
    },

    {
      "parameters": {
        "jsCode": "// === COLLECT RAW JOBS ===\n// Handles both Webhook input and Schedule-trigger input.\n// Webhook body can be: { jobs: [...] } or a plain array\n// Schedule trigger: calls local backend for queued/raw jobs\n\nconst payload = items[0]?.json || {};\nlet rawJobs = [];\n\nif (Array.isArray(payload)) {\n  rawJobs = payload;\n} else if (Array.isArray(payload.jobs)) {\n  rawJobs = payload.jobs;\n} else if (Array.isArray(payload.body?.jobs)) {\n  rawJobs = payload.body.jobs;\n} else if (Array.isArray(payload.body)) {\n  rawJobs = payload.body;\n}\n\n// Keep only LinkedIn / Indeed sourced jobs (hard rule)\nconst allowed = ['linkedin', 'indeed'];\nconst filtered = rawJobs.filter(j => {\n  const src = (j.source || '').toLowerCase();\n  return allowed.some(a => src.includes(a));\n});\n\nreturn filtered.map(j => ({ json: j }));\n"
      },
      "id": "collect-raw",
      "name": "Collect & Source-Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 300]
    },

    {
      "parameters": {
        "jsCode": "// === PRE-FILTER: keep only remote PM/Product/Scrum/Management roles ===\nconst titleRe = /(project\\s*manager|product\\s*manager|program\\s*manager|technical\\s*program\\s*manager|scrum\\s*master|agile\\s*(project\\s*)?manager|associate\\s*pm|junior\\s*pm|apm|product\\s*owner|ai\\s*project\\s*manager|delivery\\s*manager|operations\\s*manager|management|coordinator|team\\s*lead)/i;\nconst seniorRe = /(senior|sr\\.|staff|principal|director|head\\s+of|vp|chief|manager\\s+of\\s+managers)/i;\nconst remoteRe = /(remote|worldwide|anywhere|distributed|work.from.home|wfh)/i;\n\nconst kept = [];\nfor (const item of items) {\n  const j = item.json;\n  const title = (j.title || '').toString();\n  const loc = (j.location || '').toString();\n  const remoteFlag = (j.remote_flag || '').toString();\n  if (!titleRe.test(title)) continue;\n  if (seniorRe.test(title)) continue;\n  if (!remoteRe.test(loc) && !remoteRe.test(title) && !remoteRe.test(remoteFlag)) continue;\n  // Must have an apply_link\n  if (!j.apply_link && !j.source_url) continue;\n  kept.push({ json: j });\n}\nreturn kept.length ? kept : [{ json: { _empty: true } }];\n"
      },
      "id": "prefilter",
      "name": "Pre-Filter (Remote + PM + Link)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 300]
    },

    {
      "parameters": {
        "jsCode": "// === BATCH: combine user profile + filtered jobs into ONE item for AI ===\nlet userProfile = '';\ntry { userProfile = $items('User Profile (edit me)')[0].json.user_profile || ''; } catch(e) {}\n\nconst jobs = items.filter(i => !i.json._empty).map(i => {\n  const j = i.json;\n  return {\n    title: j.title || '',\n    company: j.company || '',\n    location: j.location || '',\n    description: (j.description || '').slice(0, 1000),\n    source: j.source || '',\n    source_url: j.source_url || '',\n    apply_link: j.apply_link || '',\n    posted_at: j.posted_at || '',\n    seniority: j.seniority || '',\n    tags: j.tags || [],\n    salary: j.salary || '',\n    remote_flag: j.remote_flag || ''\n  };\n});\n\nif (jobs.length === 0) {\n  return [{ json: { _no_jobs: true } }];\n}\n\nreturn [{ json: { user_profile: userProfile, raw_jobs: jobs, raw_count: jobs.length } }];\n"
      },
      "id": "batch",
      "name": "Batch for AI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300]
    },

    {
      "parameters": {
        "conditions": {
          "boolean": [
            { "value1": "={{ $json._no_jobs }}", "value2": true }
          ]
        }
      },
      "id": "if-empty",
      "name": "Has Jobs?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1220, 300]
    },

    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a production AI Job Agent.\n\nGOAL:\nFind and manage remote jobs related to:\n- Project Manager\n- Product Manager\n- AI Project Manager\n- Program Manager\n- Scrum Master\n- closely related roles only\n\nSOURCE RULE:\nOnly keep jobs if the source metadata says LinkedIn or Indeed.\nIf source is missing, unknown, or anything else, discard the job.\n\nVALIDITY RULE:\nOnly keep jobs that:\n- are remote\n- have a valid apply link\n- were posted within the last 7 days\n- are relevant to the target roles\n\nIf any of those conditions fail, discard the job.\n\nDUPLICATE RULE:\nTreat jobs as duplicates if:\n- same apply_link\nOR\n- same title + company + source\nKeep only one.\n\nRANKING RULE:\nScore every kept job from 1 to 10 based on:\n- role relevance\n- CV match\n- remote fit\n- clarity of description\n- likely usefulness to the user\n\nDO NOT LIMIT DASHBOARD RESULTS:\nThe dashboard must contain all valid jobs from the last 7 days.\nDo not return only the top few.\nDo not truncate valid results.\n\nEMAIL RULE:\nThe email should include only the best jobs:\n- top 10 by score\n- then newest first if scores tie\n- include title, company, source, location, score, posted_at, apply_link, and a short summary\n\nOUTPUT RULE:\nReturn strict JSON only.\nNo markdown.\nNo commentary.\nNo invented data.\nNo fake links.\nNo hallucinated companies or titles.\n\nOUTPUT STRUCTURE:\n{\n  \"run_timestamp\": \"\",\n  \"summary\": {\n    \"total_input_jobs\": 0,\n    \"total_valid_jobs\": 0,\n    \"total_discarded_jobs\": 0,\n    \"discard_reasons\": {\n      \"not_remote\": 0,\n      \"wrong_source\": 0,\n      \"missing_link\": 0,\n      \"older_than_7_days\": 0,\n      \"irrelevant_role\": 0,\n      \"duplicate\": 0\n    }\n  },\n  \"dashboard_jobs\": [\n    {\n      \"job_id\": \"\",\n      \"title\": \"\",\n      \"company\": \"\",\n      \"source\": \"\",\n      \"location\": \"\",\n      \"posted_at\": \"\",\n      \"score\": 0,\n      \"summary\": \"\",\n      \"reason\": \"\",\n      \"skills_match\": [],\n      \"skills_missing\": [],\n      \"apply_link\": \"\",\n      \"status\": \"New\"\n    }\n  ],\n  \"email_jobs\": [\n    {\n      \"title\": \"\",\n      \"company\": \"\",\n      \"source\": \"\",\n      \"location\": \"\",\n      \"posted_at\": \"\",\n      \"score\": 0,\n      \"summary\": \"\",\n      \"apply_link\": \"\"\n    }\n  ],\n  \"email\": {\n    \"subject\": \"Daily Remote PM and Product Jobs\",\n    \"intro\": \"\",\n    \"body\": \"\",\n    \"closing\": \"\"\n  }\n}\n\nSORTING RULE:\n- dashboard_jobs: score descending, then posted_at descending\n- email_jobs: score descending, then posted_at descending\n\nSKILLS MATCH RULE:\nCompare the job description with the user profile and extract:\n- skills_match\n- skills_missing\n\nIMPORTANT:\n- Never create jobs that are not in RAW_JOBS\n- Never change apply links\n- Never include jobs older than 7 days\n- Never include non-remote jobs\n- Never include jobs from sources other than LinkedIn or Indeed\n- If no jobs match, return empty arrays with summary counts"
            },
            {
              "role": "user",
              "content": "=USER_CV:\n{{ $json.user_profile }}\n\nJOB_LIST ({{ $json.raw_count }} jobs):\n{{ JSON.stringify($json.raw_jobs) }}\n\nToday's date: {{ new Date().toISOString().slice(0,10) }}\n\nReturn ONLY the JSON object with dashboard_jobs and email_jobs arrays."
            }
          ]
        },
        "jsonOutput": true,
        "options": { "temperature": 0.2 }
      },
      "id": "ai-agent",
      "name": "AI Filter + Score",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.6,
      "position": [1500, 200],
      "credentials": {
        "openAiApi": { "id": "YOUR_OPENAI_CREDENTIAL_ID", "name": "OpenAI Account" }
      }
    },

    {
      "parameters": {
        "jsCode": "// === PARSE AI OUTPUT ===\n// Extracts: dashboard_jobs + email_jobs from AI response.\nconst raw = items[0]?.json;\n\nlet parsed = null;\nconst content = raw?.message?.content ?? raw?.choices?.[0]?.message?.content ?? raw?.content ?? raw;\n\ntry {\n  parsed = typeof content === 'string' ? JSON.parse(content) : content;\n} catch (e) {\n  const m = String(content).match(/\\{[\\s\\S]*\\}/);\n  if (m) { try { parsed = JSON.parse(m[0]); } catch (_) {} }\n}\n\nif (!parsed || !parsed.dashboard_jobs) {\n  // Fallback: check if it's an array\n  let arr = null;\n  try { arr = typeof content === 'string' ? JSON.parse(content) : content; } catch(_) {}\n  if (Array.isArray(arr)) {\n    parsed = { dashboard_jobs: arr, email_jobs: arr.slice(0, 5).map(j => ({ title: j.title, company: j.company, score: j.score, apply_link: j.apply_link })) };\n  } else {\n    parsed = { dashboard_jobs: [], email_jobs: [] };\n  }\n}\n\nreturn [{ json: parsed }];\n"
      },
      "id": "parse-ai",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1720, 200]
    },

    {
      "parameters": {
        "jsCode": "// === EXTRACT dashboard_jobs into individual items for DB/Sheets ===\nconst parsed = items[0]?.json || {};\nconst rows = parsed.dashboard_jobs || [];\nconst today = new Date().toISOString().slice(0, 10);\n\nif (rows.length === 0) {\n  return [{ json: { _empty: true, Date: today, Title: 'No jobs found', Company: '', Location: '', Score: 0, Link: '', Status: 'New', Source: '', Summary: 'No matching jobs in this batch', Reason: '', SkillsMatch: '', SkillsMissing: '' } }];\n}\n\nreturn rows.map(j => ({\n  json: {\n    Date: today,\n    JobId: j.job_id || '',\n    Title: j.title || '',\n    Company: j.company || '',\n    Location: j.location || '',\n    PostedAt: j.posted_at || '',\n    Score: j.score ?? 0,\n    Link: j.apply_link || '',\n    Status: j.status || 'New',\n    Source: j.source || '',\n    Summary: j.summary || '',\n    Reason: j.reason || '',\n    SkillsMatch: Array.isArray(j.skills_match) ? j.skills_match.join(', ') : (j.skills_match || ''),\n    SkillsMissing: Array.isArray(j.skills_missing) ? j.skills_missing.join(', ') : (j.skills_missing || '')\n  }\n}));\n"
      },
      "id": "extract-rows",
      "name": "Extract Dashboard Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1940, 200]
    },

    {
      "parameters": {
        "url": "http://host.docker.internal:4000/api/ingest",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"jobs\": $items().map(i => ({ id: i.json.JobId || i.json.Link, date: i.json.Date, title: i.json.Title, company: i.json.Company, location: i.json.Location, score: i.json.Score, link: i.json.Link, status: i.json.Status, source: i.json.Source, summary: i.json.Summary, reason: i.json.Reason, skills_match: i.json.SkillsMatch, skills_missing: i.json.SkillsMissing })) } }}",
        "options": { "timeout": 10000 }
      },
      "id": "push-dashboard",
      "name": "Push to Dashboard API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2160, 100]
    },

    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "YOUR_GOOGLE_SHEET_ID", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Jobs", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date":          "={{ $json.Date }}",
            "Title":         "={{ $json.Title }}",
            "Company":       "={{ $json.Company }}",
            "Location":      "={{ $json.Location }}",
            "RemoteType":    "={{ $json.RemoteType }}",
            "PostedAt":      "={{ $json.PostedAt }}",
            "Score":         "={{ $json.Score }}",
            "Link":          "={{ $json.Link }}",
            "SourceUrl":     "={{ $json.SourceUrl }}",
            "Status":        "={{ $json.Status }}",
            "Source":        "={{ $json.Source }}",
            "Summary":       "={{ $json.Summary }}",
            "Reason":        "={{ $json.Reason }}",
            "SkillsMatch":   "={{ $json.SkillsMatch }}",
            "SkillsMissing": "={{ $json.SkillsMissing }}"
          }
        },
        "options": {}
      },
      "id": "db-write",
      "name": "Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2160, 300],
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "YOUR_GOOGLE_CREDENTIAL_ID", "name": "Google Sheets Account" }
      }
    },

    {
      "parameters": {
        "jsCode": "// === BUILD EMAIL from AI email_jobs array ===\nconst parsed = $items('Parse AI Response')[0]?.json || {};\nconst emailJobs = parsed.email_jobs || [];\nconst dashboardJobs = parsed.dashboard_jobs || [];\n\nconst subject = 'Daily Remote PM / Product Jobs';\nconst count = dashboardJobs.length;\n\nconst html = `\n<h2>Daily Remote PM / Product Jobs</h2>\n<p>Found <b>${count}</b> matching jobs today. Here are your top picks:</p>\n<ol>\n${emailJobs.map(r => `<li><b>${r.title}</b> — ${r.company} &nbsp; ⭐ ${r.score}/10<br><a href=\"${r.apply_link}\">Apply →</a></li>`).join('\\n')}\n</ol>\n<p><i>Check your dashboard for all ${count} jobs. Apply to your top picks today!</i></p>\n`;\n\nconst text = [\n  subject,\n  '',\n  `Found ${count} matching jobs today. Top picks:`,\n  '',\n  ...emailJobs.map((r, i) => `${i+1}. [${r.score}/10] ${r.title} — ${r.company}\\n   ${r.apply_link}`),\n  '',\n  `Check your dashboard for all ${count} jobs.`\n].join('\\n');\n\nreturn [{ json: { subject, html, text } }];\n"
      },
      "id": "digest",
      "name": "Build Email Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2380, 200]
    },

    {
      "parameters": {
        "fromEmail": "your@email.com",
        "toEmail": "your@email.com",
        "subject": "={{ $json.subject }}",
        "emailFormat": "html",
        "html": "={{ $json.html }}",
        "text": "={{ $json.text }}",
        "options": {}
      },
      "id": "email",
      "name": "Send Email Digest",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [2600, 200],
      "credentials": {
        "smtp": { "id": "YOUR_SMTP_ID", "name": "SMTP Account" }
      }
    },

    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, message: 'No matching jobs found for this batch.' } }}"
      },
      "id": "webhook-empty-response",
      "name": "Webhook: No Jobs Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1500, 400]
    },

    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, kept: $items('Parse AI Response')[0]?.json?.summary?.total_kept_jobs || 0 } }}"
      },
      "id": "webhook-success-response",
      "name": "Webhook: Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2600, 400]
    }
  ],

  "connections": {
    "Daily Cron 9AM": {
      "main": [[
        { "node": "User Profile (edit me)", "type": "main", "index": 0 }
      ]]
    },
    "Webhook: Receive Jobs": {
      "main": [[
        { "node": "Collect & Source-Filter", "type": "main", "index": 0 }
      ]]
    },
    "User Profile (edit me)": { "main": [[]] },
    "Collect & Source-Filter": {
      "main": [[
        { "node": "Pre-Filter (Remote + PM + Link)", "type": "main", "index": 0 }
      ]]
    },
    "Pre-Filter (Remote + PM + Link)": {
      "main": [[
        { "node": "Batch for AI", "type": "main", "index": 0 }
      ]]
    },
    "Batch for AI": {
      "main": [[
        { "node": "Has Jobs?", "type": "main", "index": 0 }
      ]]
    },
    "Has Jobs?": {
      "main": [
        [{ "node": "Webhook: No Jobs Response", "type": "main", "index": 0 }],
        [{ "node": "AI Filter + Score", "type": "main", "index": 0 }]
      ]
    },
    "AI Filter + Score": {
      "main": [[
        { "node": "Parse AI Response", "type": "main", "index": 0 }
      ]]
    },
    "Parse AI Response": {
      "main": [[
        { "node": "Extract Dashboard Rows", "type": "main", "index": 0 }
      ]]
    },
    "Extract Dashboard Rows": {
      "main": [[
        { "node": "Push to Dashboard API", "type": "main", "index": 0 },
        { "node": "Save to Google Sheets", "type": "main", "index": 0 }
      ]]
    },
    "Save to Google Sheets": {
      "main": [[
        { "node": "Build Email Digest", "type": "main", "index": 0 }
      ]]
    },
    "Build Email Digest": {
      "main": [[
        { "node": "Send Email Digest", "type": "main", "index": 0 }
      ]]
    },
    "Send Email Digest": {
      "main": [[
        { "node": "Webhook: Success Response", "type": "main", "index": 0 }
      ]]
    }
  },

  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "staticData": null,
  "meta": { "instanceId": "ai-remote-pm-job-agent-v2" }
}
